body {
  font-family: Arial, sans-serif;
    background-color: rgb(3, 3, 14);
}

/* Login Form Style */
h1 {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
}

form {
  width: 400px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  color: #333333;
  font-weight: bolder;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

input[type="submit"] {
    background-color: #0c9610;
    text-align: center;
    font-weight: bolder;
    color: #ffffff;
    display: block;
    margin: 10 auto;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #003399;
}

input:focus {
  outline: none;
  border-color: #0066CC;
}

/* Responsive Style */
@media only screen and (max-width: 600px) {
  form {
    width: 90%;
  }
}